# This file contains all the settings which are unique to each deployment and it
# should NOT be stored in a public source control system as it contains sensitive information
# If values commented out, you will be prompted for them at run time, this way you
# can choose to store the information in here, or enter it at run time.

## Enable / Disable Modules ##
instances_enabled = true

## Instance Quantities ##
mysql_count = "1"
ms_sql_count = "1"
apache_web_count = "1"
splunk_ent_count = "1"

gateway_count = "0" # Not functioning yet
mysql_count_gw = "0" # Not functioning yet
windows_server_count = "0" # Not functioning yet

## Your Public IP - used for security rules
my_public_ip  =  "XXXXX"

### AWS Variables ###
region = "1"

## VPC Settings ##
vpc_cidr_block = "172.32.0.0/16"
subnet_count   = "2"

## Auth Settings ##
key_name              = "XXXXX"
private_key_path      = "~/.ssh/id_rsa"
instance_type         = "t2.micro"
aws_access_key_id     = "XXXXXXXXXXXXX"
aws_secret_access_key = "XXXXXXXXXXXXXXXXXXXXXXXXX"

### Splunk IM/APM Variables ###
access_token                     = "XXXXXX"
api_url                          = "https://api.XXX.signalfx.com"
realm                            = "XXX"
environment                      = "XXXXX"

### Collector Variables ###
### https://quay.io/repository/signalfx/splunk-otel-collector?tab=tags
gateway_instance_type = "t2.small"

### Splunk Enterprise Variables ###
splunk_admin_pwd                        = "XXXXXXXXXXXXXXX"
splunk_private_ip                       = "172.32.2.10"
splunk_ent_filename                     = "splunk-9.0.5-e9494146ae5c-linux-2.6-amd64.deb"
splunk_ent_version                      = "9.0.5"
splunk_ent_inst_type                    = "t2.2xlarge"
universalforwarder_url                  = "https://download.splunk.com/products/universalforwarder/releases/9.2.0.1/linux/splunkforwarder-9.2.0.1-d8ae995bf219-linux-2.6-amd64.deb"
universalforwarder_filename             = "splunkforwarder-9.2.0.1-d8ae995bf219-linux-2.6-amd64.deb"
windows_universalforwarder_url          = "https://download.splunk.com/products/universalforwarder/releases/9.1.1/windows/splunkforwarder-9.1.1-64e843ea36b1-x64-release.msi"
windows_universalforwarder_filename     = "splunkforwarder-9.1.1-64e843ea36b1-x64-release.msi"
splunk_enterprise_files_local_path      = "~/Documents/otel_ta_Files"   # path where splunk enterprise files resides on your local machine 
splunk_enterprise_license_filename      = "Splunk_Enterprise_NFR_FY24_2H.xml" # this file should NOT be included in the repo, and should be located in the splunk_enterprise_files_local_path location
splunk_enterprise_ta_linux_filename     = "splunk-add-on-for-unix-and-linux_8100.tgz"
splunk_cloud_uf_filename                = "splunkclouduf.spl"
splunk_ta_otel_filename                 = "splunk-add-on-for-opentelemetry-collector_120.tgz"
config_explorer_filename                = "config-explorer_1715.tgz"

### MS SQL Server Variables ###
ms_sql_user              = "XXXXX"
ms_sql_user_pwd          = "XXXXX"
ms_sql_administrator_pwd = "XXXXX"
ms_sql_instance_type     = "t3.xlarge"

### Windows Server Variables ###
windows_server_administrator_pwd = "XXXXX"
windows_server_instance_type     = "t3.xlarge"

### MySQL Server Variables ###
mysql_user     = "signalfxagent" # Current hard coded into mysql-otel-for-ta.yaml and mysql_loadgen.py - need to fix this
mysql_user_pwd = "P@ssword123" # Current hard coded into mysql-otel-for-ta.yaml and mysql_loadgen.py - need to fix this
mysql_instance_type = "t3.xlarge"
