# This file contains all the settings which are unique to each deployment and it
# should NOT be stored in a public source control system as it contains sensitive information
# If values commented out, you will be prompted for them at run time, this way you
# can choose to store the information in here, or enter it at run time.

## Instance Quantities ##
mysql_count         = "1"
apache_web_count    = "1"
ms_sql_count        = "1"
rocky_count         = "0" # slow to deploy so deploy the rest first, then add this is if required and re-run, it will be added

# Optional: deploy a Gateway node and nodes that use the Gateway to send data to O11Y
gateway_count        = "0" # should only be 1 as there is currently no LB setup so only a single GW should be deployed
mysql_gw_count       = "0"
apache_web_gw_count  = "0"
ms_sql_gw_count      = "0"

### AWS Variables ###
region = "2" # also need to change EIP setting below

## VPC Settings ##
vpc_cidr_block = "172.32.0.0/16"
subnet_count   = "2"

## Auth Settings ##
key_name                = "XXXX"
private_key_path        = "~/.ssh/id_rsa"
instance_type           = "t2.micro"
rocky_instance_type     = "t2.small"
gateway_instance_type   = "t2.small"
aws_access_key_id       = "XXXX"
aws_secret_access_key   = "XXXX"

## S3 ##
s3_bucket_name          = "XXXX"

### Splunk IM/APM Variables ###
access_token                     = "XXXX"
api_url                          = "https://api.eu0.signalfx.com"
realm                            = "eu0"
environment                      = "otel-ta-testing"

### Splunk Enterprise Variables ###
splunk_admin_pwd                        = "XXXX"
splunk_private_ip                       = "172.32.2.10"
gw_private_ip                           = "172.32.2.100"
eip                                     = "nn.nn.nn.nn" #ensure this aligns with region setting above
splunk_ent_filename                     = "splunk-9.4.1-e3bdab203ac8-linux-amd64.deb"
splunk_ent_version                      = "9.4.1"
splunk_ent_inst_type                    = "t2.2xlarge"
universalforwarder_filename             = "splunkforwarder-9.4.1-e3bdab203ac8-linux-amd64.deb"
universalforwarder_filename_rpm         = "splunkforwarder-9.4.1-e3bdab203ac8.x86_64.rpm"
windows_universalforwarder_url          = "https://download.splunk.com/products/universalforwarder/releases/9.4.1/windows/splunkforwarder-9.4.1-e3bdab203ac8-windows-x64.msi"
windows_universalforwarder_filename     = "splunkforwarder-9.4.1-e3bdab203ac8-windows-x64.msi"
splunk_enterprise_license_filename      = "Splunk_Enterprise_NFR_CY2025_2H.License" # https://splunk.atlassian.net/wiki/spaces/PROD/pages/313538952312/Internal+NFR+License+Keys
splunk_enterprise_ta_linux_filename     = "splunk-add-on-for-unix-and-linux_920.tgz"
splunk_cloud_uf_filename                = "splunkclouduf.spl"
splunk_ta_otel_filename                 = "splunk-add-on-for-opentelemetry-collector_144.tgz"
config_explorer_filename                = "config-explorer_1716.tgz"

### Certificate Vars ###
certpath    = "/opt/splunk/etc/auth/sloccerts"
passphrase  = "xxxxxxxx"
fqdn        = "xxx.xxx.co.uk"
country     = "GB"
state       = "London"
location    = "London"
org         = "ACME"

### MS SQL Server Variables ###
ms_sql_user              = "signalfxagent"
ms_sql_user_pwd          = "XXXX"
ms_sql_administrator_pwd = "XXXX"
ms_sql_instance_type     = "t3.xlarge"

### Windows Server Variables ###
windows_server_administrator_pwd = "XXXX"
windows_server_instance_type     = "t3.xlarge"

### MySQL Server Variables ###
mysql_user     = "XXXX"
mysql_user_pwd = "XXXX"
mysql_instance_type = "t3.xlarge"
